{
    "recurseDepth": 10,
    "source": {
        "include":["."],
        "includePattern": ".+\\.js(doc|x)?$",
        "excludePattern": "(^|\\/|\\\\)(_|node_modules|out|docs)(\\/|\\\\|$)"
    },
    "sourceType": "module",
    "tags": {
        "allowUnknownTags": true,
        "dictionaries": ["jsdoc","closure"]
    },
    "templates": {
        "cleverLinks": false,
        "monospaceLinks": false
    },
    "opts" : {
        "destination": "./out",
        "recurse": true,
        "readme": "README.md"
    },
    "plugins": ["plugins/markdown"],
    "markdown": {
        "tags": ["class"]
    }

}

